.no-content {
    text-align: center;
    margin: 10rem auto;
    margin-top: 5rem;
}

.no-content p {
    color: var(--grey);
    margin: 0.5em 0;
}

.no-content a {
    text-decoration: underline;
}
