.product {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    min-width: 5rem;
    cursor: pointer;
}

.product h3 {
    margin-top: 1em;
    font-weight: 400;
    font-size: 1em;
}

.product span {
    font-weight: 600;
    font-size: 1.25em;
}

.product-image {
    position: relative;
    width: 7rem;
    height: 15rem;
    margin: 0 auto;
}

.product-image img {
    object-fit: contain;
}

.price-remove {
    margin-top: 0.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.price-remove button {
    transition: transfrom 0.2s;
}

.price-remove button:hover {
    transform: scale(1.1);
}
