.no-results {
    text-align: center;
    margin: 10rem auto;
    margin-top: 5rem;
}

.no-results p {
    color: var(--grey);
}

.products {
    margin-top: 0.5rem;
    display: grid;
    grid-template-columns: auto auto;
    gap: 2em;
}
