.search-bar {
    height: 2.8em;
    margin-top: 1em;
}

.search-bar input {
    width: 100%;
    height: 100%;
    border-width: 1px 0px 1px 1px;
    border-radius: 9px 0 0 9px;
}

.search-bar button {
    background: var(--red);
    height: 100%;
    min-width: 3.5em;
    border-radius: 0 9px 9px 0;
}

.search-bar svg {
    stroke: #fff;
    padding-right: 0.2em;
    padding-top: 0.2em;
}
