.prompts {
    position: absolute;
    background: #fff;
    border: 1px solid var(--light-grey);
    width: 100%;
    padding: 1em 0;
    border-width: 0px 1px 1px 1px;
    border-radius: 0 0 9px 9px;
    display: flex;
    flex-direction: column;
}

.prompt {
    padding: 0.5em 1em;
}

.prompt:hover {
    background: var(--hover-grey);
    cursor: pointer;
}

.prompts h3 {
    font-weight: 400;
    font-size: 1.125em;
}

.prompts span {
    color: var(--grey);
    font-size: 1em;
}
