.checkout-actions {
    margin-top: 2em;
}

.checkout-actions button {
    width: 100%;
}

.checkout-actions p {
    margin-top: 1em;
    color: var(--grey);
}

.checkout-actions a {
    color: var(--red);
    font-weight: 600;
}

button.sending-btn {
    background: var(--light-grey);
    cursor: default;
}
