.product {
    display: flex;
    column-gap: 2em;
    flex-wrap: wrap;
    justify-content: center;
}

.description {
    flex: 1 40%;
    display: flex;
    flex-direction: column;
    row-gap: 1.5em;
}

.description p {
    color: var(--grey);
}

.rating {
    display: flex;
    column-gap: 1em;
}

.rating-score {
    font-weight: 600;
    font-size: 1.125rem;
}

.rating-count {
    color: var(--grey);
}

.price {
    font-weight: 700;
    font-size: 1.5rem;
}

.buttons {
    display: flex;
    align-items: center;
}

.cart-btn,
.fav-btn {
    font-weight: 600;
    font-size: 1rem;
}

.fav-btn {
    display: flex;
    align-items: center;
    column-gap: 0.7em;
    transition: transform 0.2s;
}

.fav-btn svg {
    height: 1em;
    width: 1em;
}

.cart-btn {
    background: var(--red);
    padding: 1em 2em;
    color: #fff;
    border-radius: 0.5em;
    margin-right: 2em;
    transition: transform 0.2s;
}

.cart-btn:hover,
.fav-btn:hover {
    transform: scale(1.05);
}

.product-image {
    position: relative;
    width: 20rem;
    height: 27rem;
}

.product-image img {
    object-fit: contain;
}
