.auth-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.5em;
    max-width: 20rem;
    margin: 0 auto;
    margin-top: 1.5em;
}

.auth-form input,
.auth-form button,
.auth-form > div {
    width: 100%;
}

.auth-form a {
    color: var(--red);
    font-weight: 600;
}

.invalid {
    border: 1px solid var(--red);
    background: #ffe2e2;
}

.invalid-message {
    color: var(--red);
}
