.product {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    min-width: 5rem;
    cursor: pointer;
}

.product h3 {
    margin-top: 1em;
    font-weight: 400;
    font-size: 1em;
}

.product span {
    font-weight: 600;
    font-size: 1.25em;
    margin-top: 0.5em;
}

.product-image {
    position: relative;
    width: 7rem;
    height: 15rem;
    margin: 0 auto;
}

.product-image img {
    object-fit: contain;
}
