@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

html,
body {
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    padding: 0;
    margin: 0;
}

ul,
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

button {
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    cursor: pointer;
}

input {
    padding: 0;
    margin: 0;
    outline: none;
    padding-left: 1em;
    border: 1px solid var(--light-grey);
}

:root {
    --red: #e35757;
    --grey: #828282;
    --light-grey: #bebebe;
}
